// FONTS
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;300;500;600&display=swap');


// COLORS
$main-color: #92E9D4;
$primary-color: red;
$secondary-color: green;
$bg-color: brown;

// TYPOGRAPHY
// $typography-main: 'Roboto', sans-serif;
$typography-main: 'Saira', sans-serif;



// CARD
$cd-color: white;
$cd-title-size: 2.5rem;
$cd-text-size: 1.6rem;
$cd-textImportant-size: 2.4rem;
$date-text-size: 2.5rem;
